
.tile-disabled .tile-disabled-image {
  filter: grayscale(1) opacity(.6)
}

.tile-disabled .tile-disabled-contents {
  color: var(--swan-sem-color-text-disabled)
}

.tile-disabled :hover {
  cursor: pointer
}

.debug-page-section {
  border-color: var(--swan-sem-color-border-error);
  border-style: solid;
  border-width: var(--swan-sem-border-width-input);
  font-size: var(--swan-sem-font-size-small);
  padding: var(--swan-comp-accordion-padding-standard)
}

.skip-to-next-section {
  background: var(--swan-base-color-grey-100);
  border: 1px solid var(--swan-base-color-grey-300);
  display: block;
  left: -200vw;
  padding: 1px var(--swan-sem-space-3);
  position: absolute;
  top: var(--swan-sem-space-none);
  z-index: -1
}

@media only screen and (max-width:767px) {
  .good-better-best-wrapper .good-better-best-row {
    display: grid;
    gap: var(--swan-sem-space-4);
    grid-auto-rows: 1fr
  }
}

.good-better-best-wrapper .good-better-best-row .gbb-tile-name,
.good-better-best-wrapper .good-better-best-row .gbb-tile-name:hover {
  text-decoration: none
}

.good-better-best-wrapper .good-better-best-row .gbb-hidden,
.good-better-best-wrapper .good-better-best-row .gbb-hidden .gbb-tile {
  height: 100%
}

.good-better-best-wrapper .good-better-best-row .gbb-hidden .gbb-tile .gbb-tile-contents {
  justify-content: space-between
}

.good-better-best-wrapper .good-better-best-row .gbb-hidden .gbb-tile .gbb-tile-contents .good-better-best-tile-description {
  color: var(--swan-sem-color-text-standard)
}

@media only screen and (min-width:768px) {
  .good-better-best-wrapper .good-better-best-row .gbb-hidden .gbb-tile .gbb-tile-contents .good-better-best-tile-description {
    max-width: 254px
  }
}

.good-better-best-wrapper .good-better-best-row .gbb-hidden .gbb-tile .gbb-tile-contents .swan-standard-tile-separately-clickable-contents .coupon-card {
  margin-bottom: var(--swan-sem-space-1);
  margin-top: var(--swan-sem-space-1)
}

.good-better-best-wrapper .good-better-best-row .tile-disabled .tile-disabled-image {
  filter: grayscale(1) opacity(.6)
}

.good-better-best-wrapper .good-better-best-row .tile-disabled .tile-disabled-contents {
  color: var(--swan-sem-color-text-disabled)
}

.good-better-best-wrapper .good-better-best-row .tile-disabled :hover {
  cursor: pointer
}

.standard-hero-content-upload-cta {
  display: inline-block
}

.full-height-carousel-content {
  height: 100%
}

.swan-standard-hero .swan-standard-hero-text-container .standard-hero-content-upload-cta {
  text-align: left
}

.remove-p-margin p:first-child {
  margin-top: 0
}

.olapic-slider-wrapper {
  margin: 0 !important;
  width: auto !important
}

.instagram_graph {
  height: 390px !important;
  width: 390px !important
}

.virtual-section-tile .virtual-section-tile-container {
  height: 100%
}

@media only screen and (max-width:1023px) {
  .virtual-section-tile .virtual-section-tile-container .virtual-section-tile-header {
    font-size: var(--swan-sem-font-size-small)
  }
}

.virtual-section-tile .virtual-section-tile-container .virtual-section-tile-cta,
.virtual-section-tile .virtual-section-tile-container .virtual-section-tile-description {
  font-size: var(--swan-sem-font-size-small)
}

@media only screen and (max-width:1023px) {

  .virtual-section-tile .virtual-section-tile-container .virtual-section-tile-cta,
  .virtual-section-tile .virtual-section-tile-container .virtual-section-tile-description {
    font-size: var(--swan-sem-font-size-small)
  }
}

@media only screen and (min-width:1440px) {
  .virtual-section-tile .virtual-section-tile-container .virtual-section-tile-image {
    width: var(--swan-sem-space-9)
  }
}

@media only screen and (min-width:1024px)and (max-width:1439px) {
  .virtual-section-tile .virtual-section-tile-container .virtual-section-tile-image {
    width: var(--swan-sem-space-8)
  }
}

@media only screen and (max-width:1023px) {
  .virtual-section-tile .virtual-section-tile-container .virtual-section-tile-image {
    width: var(--swan-comp-icon-size-width-super)
  }
}

.disabled-tile .disabled-tile-image {
  filter: grayscale(1) opacity(.6)
}

.disabled-tile .disabled-tile-contents {
  color: var(--swan-state-disabled-font)
}

.disabled-tile :hover {
  cursor: default
}

.flex-1 {
  flex: 1 1
}

.flex-1-6 {
  flex: 1.6 1
}

.height-100 {
  height: 100vh
}

.cursor-pointer {
  cursor: pointer
}

.quick-view>.swan-modal-dialog:first-child {
  max-width: 70vw;
  width: 55vw
}

.quick-view .swan-modal-dialog-body {
  margin-bottom: 0 !important
}

.quick-view .close-button {
  position: absolute;
  z-index: inherit
}

.quick-view .image-container {
  align-items: center;
  display: flex;
  height: 100vh
}

.quick-view .grid-container-text {
  float: left;
  width: 40%
}

.quick-view .quantity-dropdown {
  margin-bottom: 10px;
  margin-top: 10px
}

.quick-view .quickview-image-row {
  height: 100%
}

.quick-view .atc-btn {
  background: #fff;
  border-top: 1px solid var(--swan-base-border-color);
  bottom: 0;
  box-shadow: var(--swan-shadow-depth-2);
  margin-top: auto;
  position: sticky;
  z-index: 10
}

.qv-alert-toast {
  position: fixed !important;
  top: 50px;
  z-index: var(--swan-elements-modal-dialog-backdrop-z-index)
}

.qv-alert-toast.qv-alert-full {
  left: 50%;
  transform: translate(-50%);
  width: 50%
}

.qv-alert-toast.qv-alert-mobile {
  left: 10%;
  right: 10%
}

.free-shipping-link {
  color: var(--swan-sem-color-text-promo) !important;
  text-decoration: none !important
}

.shipping-calculator-content-container {
  margin: auto;
  max-width: 420px !important
}

.shipping-calculator-content-container .shipping-calculator-options-loader {
  height: 250px
}

.shipping-calculator-container {
  width: 100%
}

.shipping-calculator-skeleton {
  max-width: 300px
}

.shipping-calculator-option-item-free-messaging {
  color: var(--swan-sem-color-text-promo)
}

.anchor-bar-spacing {
  margin-bottom: var(--swan-sem-space-7);
  z-index: 100
}

.anchor-bar-negative-margin {
  margin-top: calc(var(--swan-sem-space-8)*-1)
}
